<div class="nav_bar">
  <div>
    <%= image_tag "lewagon_logo.png" %>
    <p>Awesome Garage</p>
  </div>
  <div class="links">
    <%= link_to "Home", cars_path %>
    <%= link_to "My Garage", favourites_path %>
  </div>
</div>
