
  <div class="banner" style="background-image: url('https://car-images.bauersecure.com/wp-images/1689/zpor-001.jpg')">
    <div>
      <h1>Awesome Garage</h1>
      <p>Your personal garage with the cars of your dreams</p>
      <%= link_to "Enter", cars_path, class: "btn btn-purple" %>
    </div>
  </div>
