.card-display {

}


.container-card-garage {
  margin-top: 50px;
  h1 {
    color: red;
  }
}

.card-garage {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.card-garage img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}


.card-garage p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-garage-infos {
  padding: 16px;
  width: 100%;
  h5 {
    margin: 0px;
    font-weight: bold;
  }
}


.car-garage-remove {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
  a{
    color: rgba(128, 128, 128, 0.7)
  }
}
